fastapi>=0.104.1
uvicorn>=0.24.0
pydantic>=2.8.2
pydantic-settings>=2.0.0
sqlalchemy>=2.0.31
pymysql>=1.1.1
mysql-connector-python>=9.0.0
langchain>=0.2.10
langchain-community>=0.2.5
langchain-openai>=0.1.17
langchain-experimental>=0.0.61
langchain-ollama>=0.1.0
langchain-google-genai>=1.0.0
sqlglot>=20.0.0
sqlparse>=0.5.0
chromadb>=0.4.24
psycopg2-binary>=2.9.9
duckdb>=1.0.0
duckdb-engine>=0.13.0
snowflake-sqlalchemy>=1.5.1

